/* forsidelogo*/

@media (min-width: 400px){

.image-container{
    display: grid;
    grid-template-columns:8fr;
    grid-column: 2;}

.image-container h1{
    font-size: 80px;
}

.image-container {
    position: relative;
    display: inline-block; 
  }
  
.image-container img {
    display: flex;
    align-self: center;
    width: 689px;
    height: 222px;
    margin-top: 200px; 
  }

#center{ display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 8fr;
    grid-column: 2; 
}

  
  h1 {
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, +70%); 
    padding: 10px; }

}

@media (max-width: 400px){

  #forside h1{
    font-size: 45px;
}

    .image-container h1{
        font-size: 40px;
    }
    
    .image-container {
        position: relative;
        display: inline-block; 
      }
      
    .image-container img {
        display: flex;
        align-self: center;
        width: 300px;
        height: 100px;
        margin-top: 50px; 
      }
    
    #center{ display: flex;
        justify-content: center;
        align-items: center;
        grid-template-columns: 8fr;
        grid-column: 2; 
    }
    
      
      h1 {
        position: absolute;
        top: 40%; 
        left: 50%; 
        transform: translate(-50%, -45%); 
        padding: 10px; }
    
    }


   