

@font-face {
    font-family: 'Abel';
    src: url(../Fonts/Abel/abel-regular-webfont.woff2);
}

@font-face {
    font-family: 'Lexend';
    src: url(../Fonts/Lexend/lexend-variablefont_wght-webfont.woff2);
}


body{
    background-color: #ffdbb8;
    margin: 20px; 
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

p{
    color: #2f373a;
}


main {font-family: 'Lexend','sans-serif';
    font-size: 0.8em; 
    line-height: 1.2em;
}


p {font-family: 'Lexend';
    font-size: 1.0em; 
    line-height: 1.2em;
}

h1{font-size: 30px;
    font-weight: bolder;
    text-align: center;
    background-color: rgb(241, 143, 57);
    border-radius: 10px;
    margin: 30px 10px 30px;
    padding: 15px;
font-weight: bolder;
}

h1, h2, h3{font-family:'Abel';
}
h2, h3, h4, h5{ 
    background-color:#fff4ea;
    border-radius: 10px;
    margin: 30px 0 30px;
    margin-right: 0;
    padding: 5px;
}

ul{font-family: 'Lexend';
    font-size: 0.8em; 
    line-height: 1.2em;
    background-color: rgb(241, 143, 57);
    border-radius: 10px;    
}

ol{font-family: 'Lexend';
    font-size: 0.8em; 
    line-height: 1.2em;
}

dl{font-family: 'Lexend';
    font-size: 0.8em; 
    line-height: 1.2em;
    margin-left: 0px;
    width: 100%;
    overflow: hidden;
    padding: 5px;
    margin-right: 500px;
    background-color: #fff4ea;
    border-radius: 10px;    
}

dt{font-size: 1.1em;
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
}

dd{font-size: 1.1em;
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
}


/* Links */

#mincomputer{
    width: 100px;
    height: 30px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    padding: 5px;
    
}

a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover {
    color: cyan;
    text-decoration: none;
}

/* Images*/


/* Header*/

header{
    background-color: rgb(241, 143, 57);
    border-radius: 10px;
    padding: 5px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
   text-align: center;}

@media (min-width: 400px){
nav ul{
margin: 0;
padding: 0;
list-style: none;
display: flex;
justify-content:space-around;
}

nav li{
    display: inline-block;
    margin-left: 0.1px;
    }
}






